#blaubeer-bananen-muffins {
  h1 { 
    color: white;
    text-align: center;
    font-family: andale mono;
    font-size: 48px;
    margin-bottom: 43px;
  }

  h2 {
    color: #ba55d3;
    font-family: andale mono;
    font-size: 30px;
    margin-left: 25px;
  } 

  .container {
    width: 900px;
    margin-right:auto;
    margin-left: auto;
    margin-top: 20px;
  }

  .schluss {
    clear: both;
    font-family: andale mono;
    font-size: 16px;
    color: #708090;
  }

  #bild {
    max-width: 100%;
    display: block;
  }

  #title {
    background-color: #4682B4;
    margin-right: 20px;
  }

  .left{
    float: left;
    width: 30%;
  }

  .right {
    float:right;
    width: 68%;
    background-color: #800080;
  }

  .mitte {
    clear: both;
    text-align: center;
    color: #ba55d3;
    font-size: 18px;
    font-family: andale mono;
    padding-left:0px;
    padding-bottom:10px;
    padding-top:20px;
  }

  .containerbottom{
    border-style: double;
    border-width: 3px;
    border-color:#d3d3d3;
    width: 900px;
    margin-right:auto;
    margin-left: auto;
    overflow: hidden;
  }

  .leftb {
    float: left;
    width: 35%;
  }

  .rightb {
    float: right;
    width: 63%;
    margin-top: 0;
  }

  ul {
    font-family: andale mono;
    color: #708090;
    font-size: 16px;
    padding-left: 50px;
    text-indent: -20px;
    line-height: 2;
  }
    
  ul li::before{
    content: "∽";
    margin-right: 5px;
    color: #708090;
    font-family: andale mono;
    font-size: 16px;
  } 
    
  ol {
    font-family: andale mono;
    color: #708090;
    font-size: 18px;
    line-height: 2;
  }
 
  ol li{
    font-family: andale mono;
    font-size: 16px;
  }
}
