#pankower-kasekuchen {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: 'Corbel', 'Mark Web Pro', sans-serif;
    background-image: url("/assets/images/pankower-kasekuchen/tile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    line-height: 1.35;
  }

  h1 {
    border-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    color: #2d1f12;
    font-size: 50px;
    font-variant: small-caps;
    text-align: center;
  }

  h2 {
    border-width: 10px;
    border-color: transparent;
    color: rgb(60,60,60);
    font-size: 25px;
  }

  h3 {
    margin-top: 40px;
    font-size: 25px;
  }

  .container {
    background-color: rgba(100%,100%,100%,0.6);
    width: 700px;
    padding: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    color: rgb(60,60,60);
  }

  .anders {
    font-weight: 800;
    color: rgb(60,60,60);
    font-size: 18px;
  }

  .containertop {
    font-family: 'chalkduster', sans-serif;
    background-color: rgba(100%,100%,100%,0.6);
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .icon {
    width: 29px;
    height: 29px;
    margin-left: 8px;
    margin-right: 5px;
    vertical-align: text-bottom;
  }

  .icons {
    width: 27px;
    height: 27px;
    margin-left: 10px;
    margin-right: 7px;
    vertical-align: top;
  }

  .socialmedia {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
  }

  .containerbottom {
    width: 700px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(100%,100%,100%,0.6);
    border-radius: 10px;
  }

  .mediaiconsalignement {
    text-align: center;
  }

  .stroke {
    margin-top: 40px;
  }
}
